!!! 5
/ Rishi Ghan
/ The Ninth Muse
/ 2014 All Rights Reserved

%head
  %title=@project.title
  /[if IE9]
    %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

  =stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  =javascript_include_tag "application", "data-turbolinks-track" => true

  %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
  /facebook og tags for article
  %meta(property="fb:app_id" content="1466806433575846")
  %meta(property="og:type" content="article")
  %meta(property="og:url" content="#{request.original_url}")
  %meta(property="og:title" content="#{@project.title}")
  %meta(property="og:description" content="#{@project.excerpt}")
  %meta(property="og:image" content="#{request.protocol}#{request.domain}:#{request.port}/assets/rishighan-logo.png")

%body
  %section#hero-bg
  %div.container
    %p.notice
      =notice
    %p.alert
      =alert
    / Hero section container
    %section.hero.fourteen.columns
      / nav
      =render "shared/site_nav"
      / render the home page content
      =yield
    =render "shared/footer"
